@using prjMvcDemo.Models
@model List<CCustomer>

@{
    ViewBag.Title = "List";
}
@using (Html.BeginForm())
{
    @:關鍵字搜尋 @Html.TextBox("txtKeyword")
    <input type="submit" value="搜尋"/>
}

<p>
    <a href="~/Customer/New">新增客戶資料</a><br />

</p>
<h2>客戶資料</h2>
<table border="1" class="table table-striped table-hover">
    <tr>
        <td>序</td>
        <td>姓名</td>
        <td>電話</td>
        <td>電子郵件地址</td>
        <td>地址</td>
        <td>密碼</td>
        <td>刪除</td>
        <td>修改</td>
    </tr>
    @{
        int count = 0;
        foreach (CCustomer c in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@c.fName</td>
                <td>@c.fPhone</td>
                <td>@c.fEmail</td>
                <td>@c.fAddress</td>
                <td>@c.fPassword</td>
                @*<td><a href="~/Customer/Delete/@c.fId">刪除</a></td>//html作法 *@
                <td>@Html.ActionLink("刪除", "Delete", "Customer", new { id = c.fId }, new { onclick = "return confirm(`確定要刪除嗎?`)", @class="btn btn-success" })</td>
                <td>@Html.ActionLink("修改", "Edit", "Customer", new { id = c.fId }, new { @class = "btn btn-success" })</td>
            </tr>
        }
    }
</table>

