@model IEnumerable<prjMvcDemo.Models.CShoppingCartItem>

@{
    ViewBag.Title = "CartView";
}

<h2>CartView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            商品名稱
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.小計)
        </th>
        <th></th>
    </tr>

@{int count = 0;
    decimal pay = 0;
    decimal tax = 0;

    foreach (var item in Model)
    {
        count++;
        pay += item.小計;
    <tr>
        <td>
            @count
        </td>
        <td>
            @item.prouduct.fName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.小計)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.productId })
        </td>
    </tr>
    }
    tax = pay * 0.05m;
    }
</table>
<li>交易金額:@pay.ToString("0")</li>
<li>稅        額:@tax.ToString("0")</li>
<li>應付金額:@((pay+tax).ToString("0"))</li>

