@model IEnumerable<prjMvcDemo.tProduct>

@{
    ViewBag.Title = "List";
}

<h2>購物中心</h2>

<p>
    @Html.ActionLink("新增購物車", "Create")
</p>
<table class="table">
    <tr>
        <th >
           序
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.fQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPrice)
        </th>
        <th></th>
    </tr>

@{ int count = 0;
    foreach (var item in Model)
    {
        count++;
    <tr>
        <td>
            @count
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.fQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPrice)
        </td>
        <td>
            @Html.ActionLink("加入購物車", "AddToCart", new {  id=item.fId})
        </td>
    </tr>
        }
    }
</table>
